<p>
  <strong>Mountaneer, Mathematician and Programmer</strong>. I'm passionate
  about designing and implementing infrastructure with a focus on reliability,
  ease of understanding and ease of scaling. I also enjoy exploring exising
  infrastructure in search for development bottlenecks and bad practices with
  the purpose of proposing the changes that will make it maintainable.
</p>
<p>
  I believe that knowledge, like software, must be free (as in freedom). I enjoy
  teaching and sharing my knowledge in a variety of ways, one of them being as
  organizer of <a href="https://xalapacode.com">Xalapacode</a>. I'm a frequent
  contributor to the software I use, as well as with my own code, accesible at
  <a href="https://github.com/categulario">Github</a> or <a
    href="https://gitlab.com/categulario">Gitlab</a>.
</p>
