<p>
  <strong>Montañista, Matemático y Programador</strong>. Mi pasión es diseñar e
  implementar infraestructura con un enfoque en que sea fácil de entender, fácil
  de crecer y fácil de mantener funcionando. De la misma forma me gusta explorar
  infraestructura existente y difícil de mantener para incorporar estos
  principios.
</p>
<p>
  Creo que el conocimiento, como el software, deben ser libres. Me gusta enseñar
  y compartir mi conocimiento de diferentes maneras, una de ellas es como
  co-organizador de la comunidad <a
    href="https://xalapacode.com">Xalapacode</a>.
  Soy frecuente contribuidor de proyectos que uso, así como con código propio
  que se encuentra accesible en <a
    href="https://github.com/categulario">Github</a> o en <a
    href="https://gitlab.com/categulario">Gitlab</a>.
</p>
