/* for rendering in a pdf-like print */

body {
    background-color: white !important;
    padding: 0px 50px !important;
}

.rs-h1 {
    font-size: 32px;
    margin: 20px 0;
}

.no-print {
    display: none;
}

.only-print {
    display: block !important;
}
